<h1>Hacker News</h1>
  <ul>
    <% @links.each do |link| %>
      <li><%= link_to link.title, url_for(link.url)%>
        <ul><li><%= link.vote%> points by <%=link.user%></li></ul>
      </li>

    <%end%>
  </ul>

